LOCALE = "de_DE"

WEBDAV_CALENDAR_URLS = [
	{
	"url": "webcal://...",
	"calendar_name": "a name",
	"is_apple": True
	},
	{
	"url": "webcal://...2",
	"calendar_name": "a name2",
	"is_apple": True
	},
]

CALDAV_CONTACT_URL = "https://..."
CALDAV_CONTACT_USER = "username"
CALDAV_CONTACT_PWD = "passw0rd"

ROTATE_IMAGE = True

#Aperture Science Decorations
APERTURE_DECORATIONS = True

#Quotes
SHOW_QUOTES = True

#Debug mode. It will write to disk the image and not to the screen.
DEBUG = False